.step {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step-data {
    width: 150px;
    text-align: center;
}

.step-actions {
    display: flex;
    justify-content: center;
}

.step-action {
    background-color: #fff;
    width: 20px;
    height: 20px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: none;
}

.step-action-edit::before {
    content: '\270E';
    display: block;
}

.step-action-delete::before {
    content: '\2718';
    display: block;
}